@charset "UTF-8";

/*Todas as demais midias*/
/*Para telas grandes*/
@media screen and (min-width: 768px) {
   .btn{
    display: none;
   }

   menu{
    display: block;
   }

   menu > ul > li {
    display: inline-block;
   }

   main{
    width: 768px;
   }
}